* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;

}
.cotnainer {
    width: 1140px;
    margin: 0 auto;
}
#header{
padding: 30px 0;
background: blueviolet;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a{
    color: white;
}